@charset "UTF-8";
/* Палитра цветов сайта:
Цвет h2-h3 color: #212121;
Цвет text color: #757575;
Цвет link color: #2196f3;
Цвет hero and footer color: #2F303A 
Цвет иконок: #AFB1B8;*/
/*! modern-normalize v1.0.0 | MIT License | https://github.com/sindresorhus/modern-normalize */
/*
Document
========
*/
/**
Use a better box model (opinionated).
*/
*,
*::before,
*::after {
  box-sizing: border-box;
}

/**
Use a more readable tab size (opinionated).
*/
:root {
  -moz-tab-size: 4;
  tab-size: 4;
}

/**
1. Correct the line height in all browsers.
2. Prevent adjustments of font size after orientation changes in iOS.
*/
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/*
Sections
========
*/
/**
Remove the margin in all browsers.
*/
body {
  margin: 0;
}

/**
Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
*/
body {
  font-family: system-ui, -apple-system, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji";
}

/*
Grouping content
================
*/
/**
1. Add the correct height in Firefox.
2. Correct the inheritance of border color in Firefox. (https://bugzilla.mozilla.org/show_bug.cgi?id=190655)
*/
hr {
  height: 0;
  /* 1 */
  color: inherit;
  /* 2 */
}

/*
Text-level semantics
====================
*/
/**
Add the correct text decoration in Chrome, Edge, and Safari.
*/
abbr[title] {
  text-decoration: underline dotted;
}

/**
Add the correct font weight in Edge and Safari.
*/
b,
strong {
  font-weight: bolder;
}

/**
1. Improve consistency of default fonts in all browsers. (https://github.com/sindresorhus/modern-normalize/issues/3)
2. Correct the odd 'em' font sizing in all browsers.
*/
code,
kbd,
samp,
pre {
  font-family: ui-monospace, SFMono-Regular, Consolas, 'Liberation Mono', Menlo, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
Add the correct font size in all browsers.
*/
small {
  font-size: 80%;
}

/**
Prevent 'sub' and 'sup' elements from affecting the line height in all browsers.
*/
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/*
Tabular data
============
*/
/**
1. Remove text indentation from table contents in Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=999088, https://bugs.webkit.org/show_bug.cgi?id=201297)
2. Correct table border color inheritance in all Chrome and Safari. (https://bugs.chromium.org/p/chromium/issues/detail?id=935729, https://bugs.webkit.org/show_bug.cgi?id=195016)
*/
table {
  text-indent: 0;
  /* 1 */
  border-color: inherit;
  /* 2 */
}

/*
Forms
=====
*/
/**
1. Change the font styles in all browsers.
2. Remove the margin in Firefox and Safari.
*/
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
Remove the inheritance of text transform in Edge and Firefox.
1. Remove the inheritance of text transform in Firefox.
*/
button,
select {
  /* 1 */
  text-transform: none;
}

/**
Correct the inability to style clickable types in iOS and Safari.
*/
button,
[type='button'],
[type='reset'],
[type='submit'] {
  -webkit-appearance: button;
}

/**
Remove the inner border and padding in Firefox.
*/
::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
Restore the focus styles unset by the previous rule.
*/
:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
Remove the additional ':invalid' styles in Firefox.
See: https://github.com/mozilla/gecko-dev/blob/2f9eacd9d3d995c937b4251a5557d95d494c9be1/layout/style/res/forms.css#L728-L737
*/
:-moz-ui-invalid {
  box-shadow: none;
}

/**
Remove the padding so developers are not caught out when they zero out 'fieldset' elements in all browsers.
*/
legend {
  padding: 0;
}

/**
Add the correct vertical alignment in Chrome and Firefox.
*/
progress {
  vertical-align: baseline;
}

/**
Correct the cursor style of increment and decrement buttons in Safari.
*/
::-webkit-inner-spin-button,
::-webkit-outer-spin-button {
  height: auto;
}

/**
1. Correct the odd appearance in Chrome and Safari.
2. Correct the outline style in Safari.
*/
[type='search'] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
Remove the inner padding in Chrome and Safari on macOS.
*/
::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
1. Correct the inability to style clickable types in iOS and Safari.
2. Change font properties to 'inherit' in Safari.
*/
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/*
Interactive
===========
*/
/*
Add the correct display in Chrome and Safari.
*/
summary {
  display: list-item;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

@font-face {
  font-family: 'Raleway-Bold';
  src: url("../fonts/Raleway-Bold.eot");
  src: local("☺"), url("../fonts/Raleway-Bold.woff") format("woff"), url("../fonts/Raleway-Bold.ttf") format("truetype"), url("../fonts/Raleway-Bold.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}

body {
  color: #212121;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 94px;
}

.flexbox {
  display: flex;
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Лого */
.logo {
  margin-right: 93px;
  margin-top: 0;
  margin-bottom: 0;
  display: block;
  color: #212121;
  font-family: "Raleway-Bold", sans-serif;
  font-size: 26px;
  text-decoration: none;
}

.logo .accent {
  color: #2196f3;
}

.accent.inverse {
  color: #ffffff;
}

.content-box .logo {
  margin-right: 0;
  margin-bottom: 20px;
}

.button {
  display: inline-block;
  padding: 10px 32px;
  color: #ffffff;
  background-color: #2196f3;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  letter-spacing: 0.06em;
  text-decoration: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  overflow: auto;
  opacity: 1;
  visibility: visible;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scale(1.3);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  width: 100%;
  max-width: 528px;
  min-height: 581px;
  margin: 0;
  padding: 40px;
  border-radius: 4px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  transform: translate(-50%, -50%) scale(1);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-close {
  position: absolute;
  top: 8px;
  right: 8px;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
  background-color: #ffffff;
}

.btn-close:hover .icon-close,
.btn-close:focus .icon-close {
  fill: #2196f3;
}

.icon-close {
  margin: 0;
  padding: 0;
  height: 11px;
  width: 11px;
}

.modal-titel {
  display: inline-block;
  margin-bottom: 12px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
}

/* Форма */
.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  position: relative;
  display: block;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-input-comment {
  display: block;
  width: 100%;
  padding: 12px 16px;
  margin-top: 4px;
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input-comment:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.form-field-comment {
  margin-bottom: 20px;
  font-size: 12px;
  line-height: 1.16;
  letter-spacing: 0.01em;
  color: #757575;
}

.form-icon {
  position: absolute;
  top: 40%;
  left: 15px;
}

.form-input:focus + .form-icon {
  fill: #2196f3;
}

.form-input {
  display: inline-block;
  margin-top: 4px;
  margin-bottom: 10px;
  padding: 12px 15px;
  padding-left: 42px;
  width: 100%;
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-input:focus {
  outline: none;
  border: 1px solid #2196f3;
}

.checkbox-label {
  padding-left: 12px;
  margin-bottom: 30px;
}

.checkbox-icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  border: 1px solid #212121;
  background-color: #ffffff;
  border-radius: 2px;
}

.checkbox:checked + .checkbox-icon {
  background-color: #2196f3;
  border-color: #2196f3;
  background-image: url(../images/svg/form-full-check.svg);
  background-size: contain;
  background-origin: border-box;
}

.checkbox-text {
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

.form-link {
  font-size: 14px;
  line-height: 1.7;
  color: #2196f3;
}

.form-btn {
  margin-left: auto;
  margin-right: auto;
  padding: 10px 55px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #188CE8;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.form-btn:active {
  outline: none;
}

.page-header {
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #ffffff;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  border-bottom: 1px solid #ececec;
}

.page-header .flexbox {
  justify-content: flex-end;
  align-items: center;
}

/* nav */
.main-nav {
  display: flex;
  margin-right: auto;
}

.menu-item .link {
  display: inline-flex;
}

.menu-item:not(:last-child) {
  margin-right: 50px;
}

.site-nav .link {
  color: #212121;
  text-decoration: none;
}

.site-nav .link:hover, .site-nav .link:focus {
  color: #2196f3;
}

.site-nav {
  display: flex;
  align-items: center;
}

.site-nav .link.current {
  position: relative;
  color: #2196f3;
  text-decoration: none;
}

.site-nav .link.current::after {
  content: "";
  position: absolute;
  bottom: -33px;
  left: 0;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.auth-nav .link {
  color: var(--primary-grey-color);
  text-decoration: none;
}

.auth-nav .link:hover, .auth-nav .link:focus {
  color: #2196f3;
}

.auth-icon {
  margin-right: 10px;
  fill: currentColor;
}

/* Hero */
.hero {
  height: 600px;
  max-width: 1600px;
  margin-right: auto;
  margin-left: auto;
  background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero-bcg-mini.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;
}

.hero-content {
  padding-top: 200px;
  padding-bottom: 200px;
  margin-right: auto;
  margin-left: auto;
  max-width: 700px;
  text-align: center;
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;
  color: #ffffff;
  text-transform: uppercase;
  text-align: center;
  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
}

/* Особенности-features */
.features {
  padding-top: 94px;
}

.features .title {
  margin: 0 0 10px 0;
  color: #212121;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.features .text {
  margin: 0;
  color: #757575;
  font-size: 14px;
  line-height: 1.7;
}

.features-iconbox {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
  width: 270px;
  height: 120px;
  background: #f5f4fa;
  border-radius: 4px;
}

.features-list {
  display: flex;
  flex-wrap: wrap;
}

.features-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  margin-bottom: 30px;
}

.features-item:nth-child(4n) {
  margin-right: 0;
}

.features-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.features-icon {
  width: 70px;
  height: 70px;
  fill: currentColor;
}

/* Чем мы занимаемся */
.what-we-do .title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.doing-list {
  display: flex;
  flex-wrap: wrap;
}

.doing-item {
  position: relative;
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
}

.doing-item:nth-child(3n) {
  margin-right: 0;
}

.doing-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.doing-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.doing-text {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: #ffffff;
}

/* Наша команда */
.team {
  padding-top: 94px;
  background-color: #f5f4fa;
}

.team .title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.team .name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team .biz {
  color: #757575;
  font-size: 16px;
  line-height: 1.19;
  text-align: center;
}

.team-list {
  display: flex;
}

.team-item {
  width: calc((100% - 30px * 3) / 4);
  margin-right: 30px;
  margin-bottom: 30px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-item:nth-child(4n) {
  margin-right: 0;
}

.team-item:nth-last-child(-n + 4) {
  margin-bottom: 0;
}

.follow-list {
  margin-bottom: 30px;
}

.follow-link.man {
  color: #afb1b8;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1), background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-link.man:hover, .follow-link.man:focus {
  color: #ffffff;
  background-color: #2196f3;
}

/* Постоянные клиенты */
.clients {
  padding-top: 94px;
}

.clients-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-item {
  margin-right: 30px;
}

.clients-item:last-child {
  margin-right: 0;
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  padding: 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: #afb1b8;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.clients-link:hover, .clients-link:focus {
  border: 1px solid #2196f3;
}

.clients-link:hover .clients-logo,
.clients-link:focus .clients-logo {
  color: #2196f3;
}

.clients-logo {
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* Фильтры-кнопки */
.filters-list {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 94px;
}

.filters-list .link.current {
  background-color: #2196f3;
  color: #ffffff;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.filters-item {
  margin-right: 8px;
  margin-bottom: 50px;
}

.filters-list .link {
  padding: 6px 22px;
  border: 1px solid transparent;
  border-radius: 4px;
  color: #212121;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.63;
  text-align: center;
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.filters-list .link:hover, .filters-list .link:focus {
  background-color: #2196f3;
  color: #ffffff;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/* примеры работ - ссылки */
.portfolio-list {
  display: flex;
  flex-wrap: wrap;
}

.portfolio-list a {
  text-decoration: none;
}

.portfolio-list .portfolio-title {
  color: #212121;
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

.portfolio-list .portfolio-p {
  color: #757575;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.7;
}

.portfolio-item {
  position: relative;
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:nth-child(3n) {
  margin-right: 0;
}

.portfolio-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-item:hover, .portfolio-item:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-item:hover .portfolio-description {
  opacity: 1;
}

.portfolio-item:hover .portfolio-overlay,
.portfolio-item:focus .portfolio-overlay {
  opacity: 1;
  transform: translateY(-100%);
}

.portfolio-box {
  position: relative;
  overflow: hidden;
}

.portfolio-overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(33, 150, 243, 0.9);
  opacity: 0;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-description {
  display: block;
  margin: 0;
  padding: 63px 24px;
  position: absolute;
  font-size: 18px;
  line-height: 1.55;
  color: #ffffff;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1) 250ms;
}

.portfolio-text {
  padding: 20px 24px;
  margin: 0;
  border-right: 1px solid #eeeeee;
  border-left: 1px solid #eeeeee;
  border-bottom: 1px solid #eeeeee;
}

/* Footer */
footer {
  background-color: #2f303a;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

.content-box {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: baseline;
}

.follow-box {
  margin-left: 70px;
  margin-right: 93px;
}

.adds {
  color: #ffffff;
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
}

.adds-text {
  margin-top: 0;
  margin-bottom: 9px;
}

.auth-footer {
  color: rgba(255, 255, 255, 0.6);
  font-size: 14px;
  line-height: 1.7;
  text-decoration: none;
  font-style: normal;
}

.follow-title {
  display: block;
  margin-bottom: 20px;
  margin-right: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.7;
  text-transform: uppercase;
  color: #ffffff;
}

.follow-list {
  display: flex;
  justify-content: center;
  align-items: center;
}

.follow-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  padding: 0;
  border-radius: 50%;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.follow-link.join {
  background-color: rgba(255, 255, 255, 0.1);
  color: #ffffff;
}

.follow-link.join:hover, .follow-link.join:focus {
  background-color: #2196f3;
}

.follow-item {
  margin-right: 10px;
}

.follow-icon {
  fill: currentColor;
  width: 20px;
  height: 20px;
}

/* Форма */
.footer-form {
  display: flex;
  align-items: flex-end;
  margin: 0;
  width: 570px;
}

.footer-form-field {
  display: flex;
  flex-direction: column;
}

.footer-form-icon {
  margin-left: 10px;
}

.footer-form-input {
  padding-top: 15px;
  padding-bottom: 15px;
  padding-left: 16px;
  margin-right: 12px;
  width: 358px;
  color: #ffffff;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  background-color: inherit;
}

.footer-form-btn {
  display: flex;
  align-items: center;
  padding: 13px 28px;
  margin: 0;
  height: 50px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}
/*# sourceMappingURL=main.css.map */