/* Лого */

.logo {
  // margin: 0;
  // display: block;

  color: $primary-black-color;
  font-family: "Raleway-Bold", sans-serif;
  font-weight: 700;
  font-size: 24px;
  letter-spacing: 0.03em;
  text-decoration: none;

  & .accent {
    color: $link-color;
  }
}

.accent.inverse {
  color: $primary-white-color;
}

.address-box .logo {
  display: inline-block;
  margin-bottom: 20px;
}
