.backdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.2);
    overflow: auto;
    opacity: 1;
    visibility: visible;
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  .backdrop.is-hidden {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
  }
  
  .backdrop.is-hidden .modal {
    transform: translate(-50%, -50%) scale(1.3);
  }
  
  .modal {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    max-width: 528px;
    min-height: 581px;
    margin: 0;
    padding: 40px;
    border-radius: 4px;

    background-color: $primary-white-color;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
      0px 2px 1px rgba(0, 0, 0, 0.2);
    
    transform: translate(-50%, -50%) scale(1);
  
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
.btn-close {
    position: absolute;
    top: 8px;
    right: 8px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0, 0, 0.1);
    background-color: $primary-white-color;

  &:hover .icon-close,
  &:focus .icon-close {
    fill: $link-color
  }
}
  
.icon-close {
    margin: 0;
    padding: 0;
    height: 11px;
    width: 11px;
}
  
 .modal-titel {
    display: inline-block;
    margin-bottom: 12px;
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
  }