body {
  color: $primary-black-color;
  font-family: Roboto, sans-serif;
  font-weight: 400;
  letter-spacing: 0.03em;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  padding-bottom: 94px;
}

.flexbox {
  display: flex;
}

.link {
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}