/* Палитра цветов сайта:
Цвет h2-h3 color: #212121;
Цвет text color: #757575;
Цвет link color: #2196f3;
Цвет hero and footer color: #2F303A 
Цвет иконок: #AFB1B8;*/

$primary-black-color: #212121;
$primary-white-color: #ffffff;
$primary-gray-color: #757575;
$link-color: #2196f3;
$icon-color: #afb1b8;
