/* Постоянные клиенты */
.clients {
  padding-top: 94px;
}

.clients-title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 50px;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.clients-list {
  display: flex;
  flex-wrap: wrap;
}

.clients-item {
  margin-right: 30px;

  &:last-child {
    margin-right: 0;
  }
}

.clients-link {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 170px;
  height: 90px;
  padding: 0;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  color: $icon-color;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);

  &:hover,
  &:focus {
  border: 1px solid $link-color;
  }
  &:hover .clients-logo,
  &:focus .clients-logo {
  color: $link-color;
}}

.clients-logo {
  fill: currentColor;
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


