/* Чем мы занимаемся */
.what-we-do .title {
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 50px;
  padding-top: 0;

  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.doing-list {
  display: flex;
  flex-wrap: wrap;
}

.doing-item {
  position: relative;
  width: calc((100% - 30px * 2) / 3);
  margin-right: 30px;
  margin-bottom: 30px;

  &:nth-child(3n) {
    margin-right: 0;
  }
  
  &:nth-last-child(-n + 3) {
    margin-bottom: 0;
  }
}

.doing-box {
  position: absolute;
  bottom: 0;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 27px;
  padding-bottom: 27px;
  background: rgba(47, 48, 58, 0.8);
}

.doing-text {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-align: center;
  text-transform: uppercase;
  color: $primary-white-color;
}
