.page-header {
    padding-top: 25px;
    padding-bottom: 25px;
    background-color: $primary-white-color;
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    border-bottom: 1px solid #ececec;

    .flexbox {
      justify-content: flex-end;
      align-items: center;
    }
  }