/* Hero */
.hero {
  // max-width: 480px;
  margin-right: auto;
  margin-left: auto;
  padding: 118px 45px;
  height: 400px;
  width: 100%;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: #c4c4c4;

  @media screen and (min-width: 1200px) {
    @include centeredFlex();
    height: 600px;
    max-width: 1600px;
    padding-top: 200px;
    padding-bottom: 200px;
  }
}

@media screen and (max-width: 767px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/mobile/hero-bcg.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/mobile/hero-bcg@2x.jpg');
    }
  }
}

@media screen and (max-width: 1199px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/tablet/hero-bcg.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/tablet/hero-bcg@2x.jpg');
    }
  }
}

@media screen and (min-width: 1200px) {
  .hero {
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/desktop/hero-bcg.jpg);
  }
  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    .hero {
      background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url('../images/desktop/hero-bcg@2x.jpg');
    }
  }
}

.hero-content {
  text-align: center;

  @media screen and (min-width: 1200px) {
  max-width: 696px;
  }
}

.hero-title {
  margin-top: 0;
  margin-bottom: 30px;

  color: $primary-white-color;
  text-transform: uppercase;
  font-weight: 900;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;

  @media screen and (min-width: 1200px) {
    font-size: 44px;
    line-height: 1.36;
  }
}
