/* Hero */
.hero {
    height: 600px;
    max-width: 1600px;
    margin-right: auto;
    margin-left: auto;
    background-image: linear-gradient(
        to right,
        rgba(47, 48, 58, 0.4),
        rgba(47, 48, 58, 0.4)
      ),
      url(../images/hero-bcg-mini.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  
    background-color: #c4c4c4;
}
  
.hero-content {
    padding-top: 200px;
    padding-bottom: 200px;
    margin-right: auto;
    margin-left: auto;
    max-width: 700px;
  
    text-align: center;
}
  
.hero-title {
    margin-top: 0;
    margin-bottom: 30px;
  
    color: $primary-white-color;
    text-transform: uppercase;
    text-align: center;
    font-size: 44px;
    font-weight: 900;
    line-height: 1.36;
    letter-spacing: 0.06em;
}